<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="2022.1.0" targetFramework="net48" />
  <package id="IronOcr.Languages.Japanese" version="2020.11.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
</packages>